<div  class="container-fluid" style="background-color:#f2f2f2; ">
<div class="row" style="background-color:#f2f2f2; ">

<div class="navbar-header" style="background-color:#e0ecff; ">

					<ul class="navigation-list list-inline visible-xs nMobileNav">
						<li><a style="color: #337AB7; text-align: right; font-family: 'Oswald', sans-serif;" href="#" class="nToggleMenu" data-target=".navbar-responsive-collapse"><span class="icon"><i class="fa fa-bars"></i></span><br>
						MENU</a></li>
						<li><a  style="color: #337AB7; text-align: right; font-family: 'Oswald', sans-serif;" href="[@homeurl@]"><span class="icon"><i class="fa fa-gift"></i></span><br>
						SHOP</a></li>
						<li><a  style="color: #337AB7; text-align: right; font-family: 'Oswald', sans-serif;" href="[%url page:'checkout' type:'cart'/%]"><span class="icon"><i class="fa fa-shopping-cart"></i></span><br>
						CART (<span rel="a2c_item_count">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%/CART%][%/format%]</span>)</a></li>
						<li><a style="color: #337AB7; text-align: right; font-family: 'Oswald', sans-serif;" href="/_myacct/"><span class="icon"><i class="fa fa-user"></i></span><br>
						ACCOUNT</a></li>
					</ul>
					
				<div class="navbar-collapse collapse navbar-responsive-collapse" style="background-color:#f2f2f2;">
				<ul class="nav navbar-nav" style="background-color:#f2f2f2;">

<!-- This is the start of injected Product Categories Menu -->
<div class="panel-heading hidden-sm hidden-md hidden-lg hidden-xl" style="height: 30px; margin-top: 5px; margin-top: 10px; background-color:#f2f2f2;"><h2 class="panel-title" style="color:black; font-family: 'Oswald', sans-serif;">CATEGORIES</h2></div>

[%cache type:'cmenu' id:'catmenu_header'%]
[%content_menu content_type:'category' sortby:'sortorder,name' show_empty:'1'%]
    [%param *level_1%]

        <li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]   hidden-sm hidden-md hidden-lg hidden-xl"> <a href="[@url@]" [%if [@next_level@]%]class="dropdown-toggle"[%/if%]>[@name@] [%if [@next_level@]%]<span class="caret"></span>[%/if%]</a>
            [%if [@next_level@]%]
                <ul class="dropdown-menu">
                    [@next_level@]
                </ul>
            [%/if%]
        </li>
        [%/param%]
[%/content_menu%]
[%/cache%]

<!-- This is the end of injected Product Categories Menu -->




<!--This is the Original Header Menu Start Codes --> 

						[%cache type:'menu' id:'header-content-menu'%]
							[%menu id:'web_header'%]

								[%param *level_1%]
									<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]"> <a style="color: black; text-align: left; font-family: 'Oswald', sans-serif; padding: 7px 6px 6px 7px;" href="[@url@]" [%if [@next_level@]%]class="dropdown-toggle"[%/if%]>[@name@] [%if [@next_level@]%]<span class="caret"></span>[%/if%]</a>
										[%if [@next_level@]%]
											<ul class="dropdown-menu">
												[@next_level@]
											</ul>
										[%/if%]
									</li>
									[%/param%]
								[%param *level_2%]
									<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]"> <a style="color: black; text-align: left; font-family: 'Oswald', sans-serif;" href="[@url@]" class="nuhover dropdown-toggle">[@name@]</a>
										[%if [@next_level@]%]
											<ul class="dropdown-menu dropdown-menu-horizontal">
												[@next_level@]
											</ul>
										[%/if%]
									</li>
									[%/param%]
								[%param *level_3%]
									<li class="[%if [@next_level@]%]dropdown dropdown-hover[%/if%]"> <a style="color: black; text-align: left; font-family: 'Oswald', sans-serif;" href="[@url@]">[@name@]</a>
										[%if [@next_level@]%]
											<ul class="dropdown-menu dropdown-menu-horizontal">
												[@next_level@]
											</ul>
										[%/if%]
									</li>
								[%/param%]
							[%/menu%]
						[%/ cache%]
					</ul>

</div>
</div>
</div>