<div  class="container-fluid" >
<div class="row" >

<div class="panel panel-default visible-xs-down visible-sm-up nMobileNav" style="background-color:#f2f2f2; ">
        <div class="panel-heading" style="height: 30px; margin-top: 5px; margin-top: 10px; background-color:#f2f2f2;"><h2 class="panel-title" style="color:black; font-family: 'Oswald', sans-serif;">CATEGORIES</h2></div>
	
			[%cache type:'cmenu' id:'header_cat_menu'%]
[%categorymenu sortby:'sortorder,selected,name' show_empty:'1'%]
[%param header%]

    <ul class="list-group" style="margin-left: 8px;"  >
        [%/param%]
        [%param *level_1%]
            <li class="[%DATA id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%/DATA%]"><a style="color: black; font-family: 'Oswald', sans-serif;" href=" [@url@]"><i class="fa fa-link" aria-hidden="true"></i>&nbsp; [@name@]</a>
                [%data id:'next_level' if:'ne' value:''%]
                    <ul class="dropdown-menu dropdown-menu-horizontal">
                        [@next_level@]
                    </ul>
                [%/data%]
            </li>
        [%/param%]
        [%param *level_2%]
            <li class="[%DATA id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%/DATA%]">
                <a  style="color: black; font-family: 'Oswald', sans-serif;" href="[@url@]"><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;[@name@]</a>
                [%data id:'next_level' if:'ne' value:''%]
                    <ul class="dropdown-menu dropdown-menu-horizontal">
                        [@next_level@]
                    </ul>
                [%/data%]
            </li>
        [%/param%]
        [%param *level_3%]
            <li class="lv3-li">
                <a style="color: black;font-family: 'Oswald', sans-serif;" href="[@url@]"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;[@name@]</a>
            </li>
        [%/param%]
        [%param footer%]
    </ul>

[%/param%]
[%/categorymenu%]
[%/cache%]		
</div>

</div>
</div>