<div  class="container-fluid" style="background-color:#f2f2f2; ">
<div class="row" style="background-color:#f2f2f2; ">

[%advert type:'text' template:'carousel' limit:'10' ad_group:''%]
			[%param *header%]
				<div id="homepageCarousel" class="carousel slide">
					[%if [@total_showing@] > 1%]
						<ol class="carousel-indicators">
							[%site_value id:'counter' type:'load'/%]
						</ol>
					[%/if%]
					<div class="carousel-inner">
			[%/param%]
			[%param *footer%]
					</div>
					[%if [@total_showing@] > 1%]
						<a class="left carousel-control" href="#homepageCarousel" data-slide="prev">
							<span class="fa fa-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#homepageCarousel" data-slide="next">
							<span class="fa fa-chevron-right"></span>
						</a>
					[%/if%]
				</div>
[%/advert%]

</div>
</div>