<div  class="container-fluid" style="background-color:#f2f2f2; ">
<div class="row" style="background-color:#f2f2f2; ">
	
<center> <h5 style=" background-color:#337ab7; color: white; font-family: 'Oswald', sans-serif;" >PRODUCT OF THE DAY </h5></center>
    
 [%advert type:'text' template:'carousel' limit:'10' ad_group:'productoftheday'%]
			[%param *header%]
				<div id="homepageCarousel" class="carousel slide">
					
					<div class="carousel-inner">
			[%/param%]
			[%param *footer%]
					</div>
					
				</div>
[%/advert%]
</p>
<br />
<br />


</div>
</div>