</div>
</div>
<!-- Chainsaw Spares MailChimp Subcription Integration Start Codes -->
<div class="container" style="background-color:#ffa500;" ><!-- Chainsaw Spares Div Container Start Codes -->
<div class="row"><!-- Chainsaw Spares Div Row Start Codes -->
<div class="col-xs-12 hidden-xs" ><!-- Chainsaw Spares Div Class 12 Start Codes -->
	<br />
		<center>
			<h2 style="color: white; text-align: center; font-family: 'Oswald', sans-serif;">Subscribe to our mailing list</h2>	
			<form action="//jonoandjohno.us13.list-manage.com/subscribe/post?u=5efd03951a32cf62aa2ce2156&amp;id=f8fa207c6b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate class="form-inline" role="form">
    		<div class="form-group" id="mc_embed_signup_scroll">
        	<div class="mc-field-group">
			<h4 for="mce-EMAIL" style="color: white; text-align: center; font-family: 'Oswald', sans-serif;">Enter your email</h4><br />
			<input class="input-lg" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			<input type="submit" value="Subscribe Now!" class="btn btn-large" class="btn btn-primary"/>
       		</div>
       		
			<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5efd03951a32cf62aa2ce2156_f8fa207c6b" tabindex="-1" value=""></div>
    		<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    		</div>
			</form>
		</center>
</div><!-- Chainsaw Spares Div Class 12 End Codes -->
</div><!-- Chainsaw Spares Div Row Start Codes -->
</div><!-- Chainsaw Spares Div Container End Codes -->
<!-- Chainsaw Spares MailChimp Subcription Integration End Codes -->

<!-- Chainsaw Spares Mode of Payment Icons Start Codes -->
<div class="container" style="background-color:#337ab7;" ><!-- Chainsaw Spares Div Container Start Codes -->
<div class="row"><!-- Chainsaw Spares Div Row Start Codes -->
<div class="col-xs-12 hidden-xs" ><!-- Chainsaw Spares Div Class 12 Start Codes -->
	<div class="col-xs-6 hidden-xs" >
		<br />

   		<left>
   			[%payment_methods ignore_balance:'1'%]
			[%param header%]
			<ul class="list-inline">
			[%/param%]
			[%param *body%]
			[%if [@name@] like 'American Express'%]
			<li>
			<div class="payment-icon-container">
			<div class="payment-icon payment-icon-americanexpress"></div>
			</div>
			</li>
						[%/if%]
						[%if [@name@] like 'Visa'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-visa"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'MasterCard' OR [@name@] like 'Master Card'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-mastercard"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Discover'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-discover"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Diners'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-diners"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Cheque'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-cheque"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Money Order'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-moneyorder"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'Direct Deposit' || [@name@] like 'Bank Deposit'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-directdeposit"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'bpay'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-bpay"></div>
								</div>
							</li>
						[%/if%]
						[%if [@name@] like 'paypal'%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-paypal"></div>
								</div>
							</li>
						[%/if%]
					[%/param%]
					[%param *footer%]
						</ul>
					[%/param%]
				[%/payment_methods%]
   	    </left>	
   	</div>	
<!-- Chainsaw Spares Mode of Payment Icons End Codes --> 
<!-- Chainsaw Spares Mode of AfterPay Icons Start Codes -->    
	<div class="col-xs-6 hidden-xs" >
   		<Right>
        [%content_zone id:'afterpaybuttonfoot'%][%end content_zone%]
   		</Right>
   	</div>	
<!-- Chainsaw Spares Mode of AfterPay Icons End Codes -->
</div><!-- Chainsaw Spares Div Class 12 End Codes -->
</div><!-- Chainsaw Spares Container Row End Codes -->
</div><!-- Chainsaw Spares Container End Codes -->



<div class="container" style="background-color:#000000;" ><!-- Chainsaw Spares Div Container Start Codes -->
<div class="row"><!-- Chainsaw Spares Div Row Start Codes -->
    <br />

    <div class="col-xs-12 col-sm-8 hidden-xs" ><!-- Chainsaw Spares Div Class 12 Start Codes -->
   		<center>
    		[%menu id:'web_footer'%]
			[%param *level_1%]
			<div class="col-xs-12 col-sm-4 ">
			<h4 style="color: white; text-align: center; font-family: 'Oswald', sans-serif;">[@name@]</h4>
			<ul class="nav nav-pills nav-stacked">
			[@next_level@]
			</ul>
			</div>
			[%/param%]
			[%param *level_2%]
			<li><a style="color: white; text-align: center; font-family: 'Oswald', sans-serif;" href="[@url@]">[@name@]</a></li>
			[%/param%]
			[%/menu%]
		</center>

    </div>


    <div class="col-sm-4">
    <center>
        <h4 style="color: white; text-align: center; font-family: 'Oswald', sans-serif;">Follow our Social Accounts</h4>
    	<ul class="list-inline list-social" itemscope itemtype="http://schema.org/Organization">
				<meta itemprop="url" content="[@config:home_url@]"/>
					<meta itemprop="logo" content="[@config:home_url@][@config:imageurl@]/website_logo.png"/>
					<meta itemprop="name" content="[@config:company_name@]"/>
					<li><a href="[%url type:'page' id:'contact_us'/%]" target="_blank"><i class="fa fa-envelope"></i></a></li>
					[%if [@config:facebook_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:facebook_account_id@]" target="_blank"><i class="fa fa-facebook-square text-facebook"></i></a></li>
					[%/if%]
					[%if [@config:twitter_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:twitter_account_id@]" target="_blank"><i class="fa fa-twitter-square text-twitter"></i></a></li>
					[%/if%]
					[%if [@config:googleplus_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:googleplus_account_id@]" target="_blank"><i class="fa fa-google-plus-square text-google-plus"></i></a></li>
					[%/if%]
					[%if [@config:youtube_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:youtube_account_id@]" target="_blank"><i class="fa fa-youtube-square text-youtube"></i></a></li>
					[%/if%]
					[%if [@config:instagram_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:instagram_account_id@]" target="_blank"><i class="fa fa-instagram text-instagram"></i></a></li>
					[%/if%]
					[%if [@config:pinterest_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:pinterest_account_id@]" target="_blank"><i class="fa fa-pinterest-square text-pinterest"></i></a></li>
					[%/if%]
					[%if [@config:tumblr_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:tumblr_account_id@]" target="_blank"><i class="fa fa-tumblr-square text-tumblr"></i></a></li>
					[%/if%]
					[%if [@config:linkedin_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:linkedin_account_id@]" target="_blank"><i class="fa fa-linkedin-square text-linkedin"></i></a></li>
					[%/if%]
					</ul>

		<address>
    			
					<strong style="color: white; text-align: center; font-family: 'Oswald', sans-serif;">Copyright &copy; [%format type:'date' format:'#Y'%]today[%/format%] [@config:company_name@]</strong><br>
					[%if [@config:company_abn@]%]<strong style="color: white; text-align: center; font-family: 'Oswald', sans-serif;">ABN:[@config:company_abn@]</strong> <br>[%/ if%]
					[%if [@config:company_poaddr@]%]<strong style="color: white; text-align: center; font-family: 'Oswald', sans-serif;">Address:</strong> [@config:company_poaddr@][%/ if%]
					<p class="small" style="color:white;"><a style="color: white; text-align: center; font-family: 'Oswald', sans-serif;" href="http://www.chainsawspares.com.au/" title="E-commerce Shopping Cart" target="_blank">ChainsawSpares.Com.Au</a> By: Jono & Johno</p>
				
		</address>

				
	</center>

	</div>

<div class="col-xs-12 hidden-xs" style="background-color:#ffa500;" >
   		<div class="col-sm-3">
         	<center>
         		<h5 style="color: white; text-align: center; font-family: 'Oswald', sans-serif;">Email Support: sales@jonoandjohno.com.au</h5>
         	</center>
        </div>

        <div class="col-sm-3">
         	<center>
         		<h5 style="color: white; text-align: center; font-family: 'Oswald', sans-serif;">eBay and website inquiries: PH: 0353 030 263</h5>
         	</center>
        </div>

        <div class="col-sm-3">
         	<center>
         		<h5 style="color: white; text-align: center; font-family: 'Oswald', sans-serif;">Phone support hours: Mon - Fri 8:30am - 4:45pm</h5>
         	</center>
        </div>
        <div class="col-sm-3">
         	<center>
         		<h5 style="color: white; text-align: center; font-family: 'Oswald', sans-serif;">Track My Orders | Guide | Videos | Contact</h5>
         	</center>
        </div>
</div>

<div class="col-sm-12">
	<br />
    		<center>
    			<!-- The scroll to top feature -->
    <a id="back-to-top" href="#" class="btn btn-primary btn-xs back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">Top of Page</a>
			</center>
			<br />
</div>
           




<!-- Required Neto Scripts - DO NOT REMOVE -->
[%cdn_asset html:'1' type:'js' library:'jquery' version:'1.11.3'%]jquery.min.js[%/cdn_asset%]
[%cdn_asset html:'1' type:'js' library:'fancybox' version:'2.1.5'%]jquery.fancybox.pack.js[%/cdn_asset%]
[%NETO_JS html:'1' id:'main' /%]
[%cdn_asset html:'1' type:'js' library:'bootstrap' version:'3.3.6'%]bootstrap.min.js[%/cdn_asset%]
<script type="text/javascript" src="[%ntheme_asset%]js/custom.js[%/ntheme_asset%]"></script>
[%cdn_asset html:'1' type:'js' library:'jquery_ui' version:'1.11.1'%]js/jquery-ui-1.8.18.custom.min.js[%/cdn_asset%]
[%SITE_VALUE id:'footer_javascript' type:'load'/%]
<!-- Analytics -->
[%tracking_code type:'Visitor' /%]
<div class="npopup" style=""> <a href="javascript:void(0);" class="npopup-btn-close"></a>
<div class="npopup-body">
	</div>
</div>
<div class="nactivity hidden-lg hidden-xs hidden-xl hidden-sm hidden-md"><i class="fa fa-spinner fa-spin fa-inverse fa-3x fa-fw"></i></div>

</div>
</div>

</body>
</html>