<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="[%url_info name:'meta_keywords'/%]"/>
<meta name="description" content="[%url_info name:'meta_description'/%]"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>
<meta property="og:image" content="[%if [@config:current_page_type@] eq 'product'%][@config:homeurl@][%asset_url type:'product' id:'[@SKU@]' thumb:'full'/%][%ELSEIF [@config:current_page_type@] eq 'content'%][@config:homeurl@][%ASSET_url type:'content' id:'[@content_id@]' default:'/assets/website_logo.png'%][%/ASSET_url%][%ELSE%][@config:homeurl@]/assets/website_logo.png[%/if%]"/>
<meta property="og:title" content="[%url_info name:'page_title'/%]"/>
<meta property="og:site_name" content="[@config:website_name@]"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="[@config:canonical_url@]"/>
<meta property="og:description" content="[%url_info name:'meta_description'/%]"/>
[@config:GOOGLE_VERIFICATION_CODE@]
<title>[%url_info name:'page_title'/%]</title>
<link rel="canonical" href="[@config:canonical_url@]"/>
<link rel="shortcut icon" href="/assets/favicon_logo.png"/>
<link class="theme-selector" rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/app.css[%/ntheme_asset%]" media="all"/>
<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/style.css[%/ntheme_asset%]" media="all"/>
[%cdn_asset html:'1' type:'css' domain:'maxcdn.bootstrapcdn.com' library:'font-awesome' version:'4.4.0'%]css/font-awesome.min.css[%/cdn_asset%]
[%cdn_asset html:'1' type:'css' library:'jquery_ui' version:'1.11.1'%]css/custom-theme/jquery-ui-1.8.18.custom.css[%/cdn_asset%]
[%cdn_asset html:'1' type:'css' library:'fancybox' version:'2.1.5'%]jquery.fancybox.css[%/cdn_asset%]
<!--[if lte IE 8]>
	[%cdn_asset html:'1' type:'js' library:'html5shiv' version:'3.7.0'%]html5shiv.js[%/cdn_asset%]
	[%cdn_asset html:'1' type:'js' library:'respond.js' version:'1.3.0'%]respond.min.js[%/cdn_asset%]
<![endif]-->
[%tracking_code type:'Declaration'/%]
<link href="https://fonts.googleapis.com/css?family=Oswald:400" rel="stylesheet">
</head>

<body id="n_[@config:current_page_type@]" class="n_[@CONFIG:TEMPLATELANG@]">
  

<div class="container hidden-xs" style="background-color:rgb(77, 115, 175);">
	
	
	<div class="row">
		<div class="col-xs-12 col-sm-2">
		<p style="color: white; text-align: left; font-family: 'Oswald', sans-serif;">E:[@config:company_email@]</p>
		</div>
		<div class="col-xs-12 col-sm-2">
		<p style="color: white; text-align: left; font-family: 'Oswald', sans-serif;">P:[@config:company_phone@]</p>
		</div>
		<div class="col-xs-12 col-sm-2">
	<p style="text-align: right;"><a href="http://www.chainsawspares.com.au/contact-us" target="_blank"><img alt="" src="/assets/images/envelope.png" style="width: 16px; height: 16px;" /></a><a href="https://www.facebook.com/pages/Jono-Johno-Chainsaw-Spares-Tools/228677303812065?ref=stream&hc_location=timeline" target="_blank"><img alt="" src="/assets/images/facebook.png" style="width: 16px; height: 16px; margin-left: 5px; margin-right: 5px;" /></a><a href="https://twitter.com/Jono_Johno" target="_blank"><img alt="" src="/assets/images/twitter.png" style="width: 16px; height: 16px;" /></a><a href="https://plus.google.com/u/0/b/110760127481423766198/%20JonoandJohnoAlfredton/posts" target="_blank"><img alt="" src="/assets/images/google_plus.png" style="width: 16px; height: 16px; margin-left: 5px; margin-right: 5px;" /></a><a href="https://www.youtube.com/user/jonojohno20004" target="_blank"><img alt="" src="/assets/images/youtube.png" style="width: 16px; height: 16px;" /></a></p>
		</div>
		<div class="col-xs-12 col-sm-2">
		<p style="color: white; text-align: right; font-family: 'Oswald', sans-serif;"><a href="https://www.chainsawspares.com.au/_myacct/#orders"><span style="color:#F0FFF0;">Track My Orders</span></a></p>
		</div>
		<div class="col-xs-12 col-sm-2"><p style="text-align: right;"><a href="http://www.chainsawspares.com.au/page/chainsaw-guide/"><span style="color: white; text-align: left; font-family: 'Oswald', sans-serif;">Guide</span></a><span style="color:#FFFFE0;"> | </span><a href="http://www.chainsawspares.com.au/page/how-to-videos/chainsaw-chain-sharpening/"><span style="color: white; text-align: left; font-family: 'Oswald', sans-serif;">Videos</span></a><span style="color:#FFFFE0;"> | </span><a href="http://www.chainsawspares.com.au/contact-us/"><span style="color: white; text-align: left; font-family: 'Oswald', sans-serif;">Contact</span></a></p></div>
		<div class="col-xs-12 col-sm-2"><p style="text-align: right;"><a href="https://www.chainsawspares.com.au/_myacct/login"><span style="color: white; text-align: left; font-family: 'Oswald', sans-serif;">Login</span></a><span style="color:#FFFFE0;"> | </span><a href="https://www.chainsawspares.com.au/_myacct/register"><span style="color: white; text-align: left; font-family: 'Oswald', sans-serif;">Register</span></a><span style="color:#FFFFE0;"> | </span><a href="https://www.chainsawspares.com.au/_myacct/warranty"><span style="color: white; text-align: left; font-family: 'Oswald', sans-serif;">Support</span></a></p>
		</div>
	</div>
</div>


<div class="container wrapper-header" style="background-color:rgb(77, 115, 175);">
    
<div class="" style="margin-top: -5px; margin-bottom: -5px;">

<div class="col-xs-12">
	

		<div class="row">
		<div class="col-xs-12 col-sm-3">
			<a href="[@config:homeurl@]" title="[@config:company_name@]">
				<img class="logo" src="[@config:imageurl@]/website_logo.png?[@config:neto_css_version@]" alt="[@config:company_name@]"/>
			</a>
		</div>
		<div class="col-xs-12 col-sm-3">
			<div class="header-search">
				<form name="productsearch" method="get" action="/">
					<input type="hidden" name="rf" value="kw"/>
					<div class="input-group">
						<input class="form-control ajax_search" value="[%nohtml%][%filter ID:'keywords'%][%/filter%][%/nohtml%]" id="name_search" autocomplete="off" name="kw" type="text"/>
						<span class="input-group-btn">
							<button type="submit" value="Search" class="btn btn-default"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
			</div>
		</div>

<div class="hidden-xs col-sm-3">
			<div id="header-cart" class="btn-group">
				<a href="[%url page:'checkout' type:'cart'/%]" class="btn btn-default" id="cartcontentsheader">
					<i class="fa fa-shopping-cart"></i> <span style="color: black; text-align: left; font-family: 'Oswald', sans-serif;" class="visible-lg visible-inline-lg">Shopping Cart</span> - <span style="color: black; text-align: left; font-family: 'Oswald', sans-serif;" rel="a2c_item_count">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%/CART%][%/format%]</span> Items
				</a>
				<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li class="box" id="neto-dropdown">
						<div class="body padding" id="cartcontents"></div>
						<div class="footer"></div>
					</li>
				</ul>
			</div>
</div>

<div class="hidden-xs col-sm-3">

</div>

			<ul class="nav navbar-nav navbar-right hidden-xs">
                
                 



						<li class="lv1-li navbar-right dropdown dropdown-hover"> <a   href="[%url page:'account'/%] " [%if [@next_level@]%]class="dropdown-toggle" data-toggle="dropdown"[%/if%]><i style="color: white;" class="fa fa-user"></i> <span    class="visible-lg visible-inline-lg" style="color: white; text-align: left; font-family: 'Oswald', sans-serif;"> MY ACCOUNT</span> <span class="caret"></span></a>
							<ul class="dropdown-menu pull-right">
								<li><a href="[%url page:'account'/%]" style="color: black; text-align: left; font-family: 'Oswald', sans-serif;">Account Home</a></li>
								<li><a href="[%url page:'account'/%]#orders" style="color: black; text-align: left; font-family: 'Oswald', sans-serif;">Orders</a></li>
								[%if [@config:allow_user_quote@]%]
								<li><a href="[%url page:'account'/%]#quotes" style="color: black; text-align: left; font-family: 'Oswald', sans-serif;">Quotes</a></li>
								[%/ if%]
								<li><a href="[%url page:'account' type:'payrec'/%]" style="color: black; text-align: left; font-family: 'Oswald', sans-serif;">Pay Invoices</a></li>
								<li><a href="[%url page:'account' type:'favourites'/%]" style="color: black; text-align: left; font-family: 'Oswald', sans-serif;">Favourites</a></li>
								[%if [@config:show_wishlist@]%]
								<li><a href="[%url page:'account' type:'wishlist'/%]" style="color: black; text-align: left; font-family: 'Oswald', sans-serif;">Wishlists</a></li>
								[%/if%]
								<li><a href="[%url page:'account' type:'warranty'/%]" style="color: black; text-align: left; font-family: 'Oswald', sans-serif;">Resolution Centre</a></li>
								<li><a href="[%url page:'account' type:'edit_account'/%]" style="color: black; text-align: left; font-family: 'Oswald', sans-serif;">Edit My Details</a></li>
								<li><a href="[%url page:'account' type:'edit_address'/%]" style="color: black; text-align: left; font-family: 'Oswald', sans-serif;">Edit My Address Book</a></li>
								<li class="divider"></li>
								[%if [@user:username@]%]
									<li> <a href="[%url page:'account' type:'edit_pwd'/%]" style="color: black; text-align: left; font-family: 'Oswald', sans-serif;"><i class="fa fa-lock"></i> Change My Password</a> </li>
									<li> <a href="[%url page:'account' type:'logout'/%]" style="color: black; text-align: left; font-family: 'Oswald', sans-serif;"><i class="fa fa-off"></i> Log Out</a> </li>
								[%else%]
									<li> <a href="[%url page:'account' type:'login'/%]" title="Login">Login</a> </li>
									<li> <a href="[%url page:'account' type:'register'/%]" title="Register" style="color: black; text-align: left; font-family: 'Oswald', sans-serif;">Register</a> </li>
								[%/if%]
							</ul>
						</li>
					</ul>
</div>



</div>
</div>
</div>
</div>

<div id="main-content" class="container" role="main" style="background-color:#f2f2f2; ">
	<div class="row">